[Desktop Entry]
Version=1.0
Type=Link
Name=index.html
Comment=
Icon=user-bookmarks
URL=https://github.com/Jtorres160/31tracker/blob/main/New%20Folder/index.html
